#banner header {
  position: absolute; }
#banner > img {
  width: 100%; }

#fourPart {
  width: 100%;
  background-color: white; }
  #fourPart .net {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden; }
    #fourPart .net .map {
      width: 800px;
      height: 600px;
      margin: 0 auto; }
    #fourPart .net .map:hover {
      cursor: pointer;
      cursor: -ms-pointer; }
    #fourPart .net .netNavs {
      padding-top: 60px; }
      #fourPart .net .netNavs ul li {
        float: left;
        margin-right: 13px; }
        #fourPart .net .netNavs ul li button {
          width: 290px;
          height: 58px;
          border: 1px solid #eeeeee;
          font-size: 18px;
          color: #888888;
          position: relative;
          -moz-transition: color 0.2s,border 0.2s;
          -webkit-transition: color 0.2s,border 0.2s;
          -ms-transition: color 0.2s,border 0.2s;
          transition: color 0.2s,border 0.2s; }
        #fourPart .net .netNavs ul li button::after {
          content: "";
          position: absolute;
          top: -1px;
          left: -2px;
          width: 0px;
          border-bottom: 1.1px solid #a51e32;
          -moz-transition: width 0.2s;
          -webkit-transition: width 0.2s;
          -ms-transition: width 0.2s;
          transition: width 0.2s; }
        #fourPart .net .netNavs ul li .btnActive {
          border: 1px solid white;
          box-shadow: 0 0 2px 2px rgba(231, 231, 231, 0.4);
          color: #a51e32; }
        #fourPart .net .netNavs ul li button:hover {
          border: 1px solid white;
          box-shadow: 0 0 2px 2px rgba(231, 231, 231, 0.4);
          color: #a51e32; }
        #fourPart .net .netNavs ul li .btnActive::after {
          width: 292px; }
        #fourPart .net .netNavs ul li button:hover::after {
          width: 292px; }
      #fourPart .net .netNavs ul li:last-child {
        margin-right: 0px; }
    #fourPart .net .moreChoice .short {
      width: 378px;
      height: 60px;
      border: 1px solid #c8c8c8;
      position: relative;
      margin-right: 10px;
      cursor: pointer;
      cursor: -ms-pointer; }
      #fourPart .net .moreChoice .short > img {
        position: absolute;
        top: 27px;
        right: 25px;
        transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s; }
      #fourPart .net .moreChoice .short > p {
        font-size: 16px;
        color: #333333;
        line-height: 60px;
        text-indent: 30px; }
      #fourPart .net .moreChoice .short .profess {
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: -1px;
        display: none;
        background-color: white;
        z-index: 100; }
      #fourPart .net .moreChoice .short ul {
        width: 378px;
        border: 1px solid #c8c8c8;
        background-color: white;
        padding: 10px 0;
        transition: height 0.5; }
      #fourPart .net .moreChoice .short ul li p {
        line-height: 35px;
        text-indent: 30px;
        font-size: 14px; }
      #fourPart .net .moreChoice .short ul li p:hover {
        cursor: pointer;
        cursor: -ms-pointer;
        background-color: #a51e32;
        color: white; }
    #fourPart .net .moreChoice .long {
      width: 345px;
      height: 60px;
      border: 1px solid #c8c8c8;
      position: relative;
      border-right: 0; }
      #fourPart .net .moreChoice .long button {
        width: 80px;
        height: 60px;
        position: absolute;
        top: -1px;
        right: -80px;
        border: 1px solid #333333;
        background: url(../img/searchStore.png) no-repeat center center;
        background-color: #333333;
        color: white; }
      #fourPart .net .moreChoice .long input {
        width: 300px;
        height: 100%;
        border: 0;
        color: #333333;
        font-size: 16px;
        margin-left: 30px; }
      #fourPart .net .moreChoice .long input::-webkit-input-placeholder {
        color: #888888; }
      #fourPart .net .moreChoice .long input::-moz-placeholder {
        color: #888888; }
      #fourPart .net .moreChoice .long input::-ms-input-placeholder {
        color: #888888; }
    #fourPart .net .storeList {
      padding: 40px 0 80px; }
      #fourPart .net .storeList .more tr:hover {
        color: white;
        background-color: #a51e32;
        border-color: #a51e32; }
      #fourPart .net .storeList .more tr:nth-child(1):hover {
        background-color: #333333;
        color: white;
        border-color: #333333; }
      #fourPart .net .storeList table {
        width: 100%; }
        #fourPart .net .storeList table tr:nth-child(1) {
          background-color: #333333;
          color: white;
          border-color: #333333; }
        #fourPart .net .storeList table tr {
          width: 100%;
          height: 60px;
          border: 1px solid #eeeeee; }
          #fourPart .net .storeList table tr td {
            width: 33.3333333%;
            text-align: center;
            line-height: 60px; }
      #fourPart .net .storeList .nomore tr:nth-child(2) td {
        width: 100%;
        padding: 120px 0 160px; }
        #fourPart .net .storeList .nomore tr:nth-child(2) td p {
          font-size: 16px;
          line-height: 24px;
          color: #333333; }

/*# sourceMappingURL=about.css.map */
