$red:#a51e32;
$black:#333333;
header{
    position:absolute;
}
#banner{
    min-width: 1200px;
    img{
        width: 100%;
    }
}
#tenServer{
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    .tenImg{
        width: 1200px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    
    .tenServers{
        width: 1200px;
        margin: 0 auto;
        margin-top: 4px;
        padding-bottom: 80px;
        .tenServerOut {
            width: 598px;
            height: 250px;
            margin-right: 4px;
            margin-bottom: 4px;
            .tsImg{
                width: 260px;
                height: 250px;              
                background: url(../img/icon.png) no-repeat;
                background-position-y:0px ;
                background-color: #EEEEEE;
                transition: background-position 0.5s;
                -webkit-transition: background-position 0.5s;
                -ms-transition: background-position 0.5s;
                -moz-transition: background-position 0.5s;              
            }
            .tsTitle {
                width: 336px;
                height: 250px;
                border: 1px solid #eeeeee;
                ul{
                    margin-left: 105px;
                    .jobNameM{
                        margin-top: 90px;
                        font-weight: bold;
                    }
                }
            }
            
        }
        .tenServerOut:hover{
            box-shadow: 0 0 2px 2px #EAEAEA;
            .tsTitle{
                border: 0;
            }
        }
        .ti1 .tsImg{
            background-position-y:-0px ;
        }
        .ti1:hover .tsImg{
            background-position-y:-250px ;
        }
        .ti2 .tsImg{
            background-position-y:-500px ;
        }
        .ti2:hover .tsImg{
            background-position-y:-750px ;
        }
        .ti3 .tsImg{
            background-position-y:-1000px ;
        }
        .ti3:hover .tsImg{
            background-position-y:-1250px ;
        }
        .ti4 .tsImg{
            background-position-y:-1500px ;
        }
        .ti4:hover .tsImg{
            background-position-y:-1750px ;
        }
        .ti5 .tsImg{
            background-position-y:-2000px ;
        }
        .ti5:hover .tsImg{
            background-position-y:-2250px ;
        }
        .ti6 .tsImg{
            background-position-y:-2500px ;
        }
        .ti6:hover .tsImg{
            background-position-y:-2750px ;
        }
        .ti7 .tsImg{
            background-position-y:-3000px ;
        }
        .ti7:hover .tsImg{
            background-position-y:-3250px ;
        }
        .ti8 .tsImg{
            background-position-y:-3500px ;
        }
        .ti8:hover .tsImg{
            background-position-y:-3750px ;
        }
        .ti9 .tsImg{
            background-position-y:-4000px ;
        }
        .ti9:hover .tsImg{
            background-position-y:-4250px ;
        }
        .ti10 .tsImg{
            background-position-y:-4500px ;
        }
        .ti10:hover .tsImg{
            background-position-y:-4750px ;
        }
        .tenServerOut:nth-child(2n)
        {
            margin-right: 0px;
        }
    }
    
}
#bookBox{
    width: 1200px;
    margin: 0 auto;
    img{
        transition: width 1.0s;
        -webkit-transition: width 1.0s;
        -moz-transition: width 1.0s;
        -ms-transition: width 1.0s; 
    }
    .bookTop{
        margin-bottom: 80px;
    }
    .bookMiddle{
        .bmg{
            width: 599px;
            height: 255px;
            overflow: hidden;
            margin-right: 2px;
            margin-bottom: 2px;
            img{
                width: 100%;
            }
            ul{
                width: 520px;
                margin-left: 59px;
            }
        }
        .bmg:hover{
            img{
                width: 110%;
            }
        }
        .bmg:nth-child(2n){
            margin-right: 0;
        }
    }
    .bookMiddleTwo{
        .bmtop{
            width: 599px;
            margin-right: 2px;
            margin-bottom: 2px;
            height: 300px;
            img{
                width: 100%;
            }
            img:hover{
                width: 110%;
            }
        }
        .bmtop:nth-child(2n){
            margin-right: 0px;
        }
        .bmtimg{
            width: 398px;
            height: 300px;
            overflow: hidden;
            margin-right:3px;
        }
        .bmtimg:nth-child(3n){
            margin-right: 0px;
        }
    }
    .btimgBox{
        width: 1200px;
        .btimg{
            width: 400px;
            height: 466px;
            position: relative;
            .imgContain{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                img{
                    height: 400px;
                    margin: 0 auto;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    color: $black;
                    text-align: center;
                    font-weight: bold;
                }
            }
            
        }
        .btimg>div:nth-child(1){
            width: 100%;
            height: 200px;
            margin-top: 266px;
            background-color: #eeeeee;
        }
    }
}
.ip1{
    margin-top: 21px;
}
.ip2{
    margin-top: 10px;
}
.rp{
    color: $red;   
    line-height: 30px;
}
.rLine{
    width: 60px;
    height: 1px;
    display: block;
    border-bottom: 1.1px solid $red;
    margin: 10px 0;
}
.jobNameM {
    color: $black;
    font-size: 18px;
    margin-top: 35px;
}

.jobNameS {
    color: #888888;
    font-size: 12px;
    font-family: arial;
    line-height: 24px;
}

.jobD {
    color: #888888;
    font-size: 12px;
    line-height: 30px;
}