header {
  position: absolute; }

#banner {
  min-width: 1200px; }
  #banner img {
    width: 100%; }

#tenServer {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff; }
  #tenServer .tenImg {
    width: 1200px;
    margin: 0 auto; }
    #tenServer .tenImg img {
      width: 100%; }
  #tenServer .tenServers {
    width: 1200px;
    margin: 0 auto;
    margin-top: 4px;
    padding-bottom: 80px; }
    #tenServer .tenServers .tenServerOut {
      width: 598px;
      height: 250px;
      margin-right: 4px;
      margin-bottom: 4px; }
      #tenServer .tenServers .tenServerOut .tsImg {
        width: 260px;
        height: 250px;
        background: url(../img/icon.png) no-repeat;
        background-position-y: 0px;
        background-color: #EEEEEE;
        transition: background-position 0.5s;
        -webkit-transition: background-position 0.5s;
        -ms-transition: background-position 0.5s;
        -moz-transition: background-position 0.5s; }
      #tenServer .tenServers .tenServerOut .tsTitle {
        width: 336px;
        height: 250px;
        border: 1px solid #eeeeee; }
        #tenServer .tenServers .tenServerOut .tsTitle ul {
          margin-left: 105px; }
          #tenServer .tenServers .tenServerOut .tsTitle ul .jobNameM {
            margin-top: 90px;
            font-weight: bold; }
    #tenServer .tenServers .tenServerOut:hover {
      box-shadow: 0 0 2px 2px #EAEAEA; }
      #tenServer .tenServers .tenServerOut:hover .tsTitle {
        border: 0; }
    #tenServer .tenServers .ti1 .tsImg {
      background-position-y: 0px; }
    #tenServer .tenServers .ti1:hover .tsImg {
      background-position-y: -250px; }
    #tenServer .tenServers .ti2 .tsImg {
      background-position-y: -500px; }
    #tenServer .tenServers .ti2:hover .tsImg {
      background-position-y: -750px; }
    #tenServer .tenServers .ti3 .tsImg {
      background-position-y: -1000px; }
    #tenServer .tenServers .ti3:hover .tsImg {
      background-position-y: -1250px; }
    #tenServer .tenServers .ti4 .tsImg {
      background-position-y: -1500px; }
    #tenServer .tenServers .ti4:hover .tsImg {
      background-position-y: -1750px; }
    #tenServer .tenServers .ti5 .tsImg {
      background-position-y: -2000px; }
    #tenServer .tenServers .ti5:hover .tsImg {
      background-position-y: -2250px; }
    #tenServer .tenServers .ti6 .tsImg {
      background-position-y: -2500px; }
    #tenServer .tenServers .ti6:hover .tsImg {
      background-position-y: -2750px; }
    #tenServer .tenServers .ti7 .tsImg {
      background-position-y: -3000px; }
    #tenServer .tenServers .ti7:hover .tsImg {
      background-position-y: -3250px; }
    #tenServer .tenServers .ti8 .tsImg {
      background-position-y: -3500px; }
    #tenServer .tenServers .ti8:hover .tsImg {
      background-position-y: -3750px; }
    #tenServer .tenServers .ti9 .tsImg {
      background-position-y: -4000px; }
    #tenServer .tenServers .ti9:hover .tsImg {
      background-position-y: -4250px; }
    #tenServer .tenServers .ti10 .tsImg {
      background-position-y: -4500px; }
    #tenServer .tenServers .ti10:hover .tsImg {
      background-position-y: -4750px; }
    #tenServer .tenServers .tenServerOut:nth-child(2n) {
      margin-right: 0px; }

#bookBox {
  width: 1200px;
  margin: 0 auto; }
  #bookBox img {
    transition: width 1.0s;
    -webkit-transition: width 1.0s;
    -moz-transition: width 1.0s;
    -ms-transition: width 1.0s; }
  #bookBox .bookTop {
    margin-bottom: 80px; }
  #bookBox .bookMiddle .bmg {
    width: 599px;
    height: 255px;
    overflow: hidden;
    margin-right: 2px;
    margin-bottom: 2px; }
    #bookBox .bookMiddle .bmg img {
      width: 100%; }
    #bookBox .bookMiddle .bmg ul {
      width: 520px;
      margin-left: 59px; }
  #bookBox .bookMiddle .bmg:hover img {
    width: 110%; }
  #bookBox .bookMiddle .bmg:nth-child(2n) {
    margin-right: 0; }
  #bookBox .bookMiddleTwo .bmtop {
    width: 599px;
    margin-right: 2px;
    margin-bottom: 2px;
    height: 300px; }
    #bookBox .bookMiddleTwo .bmtop img {
      width: 100%; }
    #bookBox .bookMiddleTwo .bmtop img:hover {
      width: 110%; }
  #bookBox .bookMiddleTwo .bmtop:nth-child(2n) {
    margin-right: 0px; }
  #bookBox .bookMiddleTwo .bmtimg {
    width: 398px;
    height: 300px;
    overflow: hidden;
    margin-right: 3px; }
  #bookBox .bookMiddleTwo .bmtimg:nth-child(3n) {
    margin-right: 0px; }
  #bookBox .btimgBox {
    width: 1200px; }
    #bookBox .btimgBox .btimg {
      width: 400px;
      height: 466px;
      position: relative; }
      #bookBox .btimgBox .btimg .imgContain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5; }
        #bookBox .btimgBox .btimg .imgContain img {
          height: 400px;
          margin: 0 auto; }
        #bookBox .btimgBox .btimg .imgContain p {
          font-size: 16px;
          line-height: 24px;
          color: #333333;
          text-align: center;
          font-weight: bold; }
    #bookBox .btimgBox .btimg > div:nth-child(1) {
      width: 100%;
      height: 200px;
      margin-top: 266px;
      background-color: #eeeeee; }

.ip1 {
  margin-top: 21px; }

.ip2 {
  margin-top: 10px; }

.rp {
  color: #a51e32;
  line-height: 30px; }

.rLine {
  width: 60px;
  height: 1px;
  display: block;
  border-bottom: 1.1px solid #a51e32;
  margin: 10px 0; }

.jobNameM {
  color: #333333;
  font-size: 18px;
  margin-top: 35px; }

.jobNameS {
  color: #888888;
  font-size: 12px;
  font-family: arial;
  line-height: 24px; }

.jobD {
  color: #888888;
  font-size: 12px;
  line-height: 30px; }

/*# sourceMappingURL=businiessDetails.css.map */
