header {
  position: absolute; }

#banner > img {
  width: 100%; }

.moreChoice .short {
  width: 380px;
  height: 60px;
  border: 1px solid #c8c8c8;
  position: relative;
  margin-right: 27px;
  cursor: pointer;
  cursor: -ms-pointer; }
  .moreChoice .short > img {
    position: absolute;
    top: 27px;
    right: 25px;
    transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s; }
  .moreChoice .short > p {
    font-size: 16px;
    color: #888888;
    line-height: 60px;
    text-indent: 30px; }
.moreChoice .long {
  width: 380px;
  height: 60px;
  border: 1px solid #c8c8c8;
  position: relative;
  border-right: 0; }
  .moreChoice .long button {
    width: 100px;
    height: 62px;
    position: absolute;
    top: -1px;
    right: -1px;
    border: 1px solid #333333;
    color: white;
    background: url(../img/searchStore.png) no-repeat center center;
    background-size: 35px;
    background-color: #333333; }
  .moreChoice .long input {
    width: 245px;
    height: 100%;
    border: 0;
    color: #333333;
    font-size: 16px;
    margin-left: 30px; }
  .moreChoice .long input::-webkit-input-placeholder {
    color: #888888; }
  .moreChoice .long input::-moz-placeholder {
    color: #888888; }
  .moreChoice .long input::-ms-input-placeholder {
    color: #888888; }

#join {
  width: 1200px;
  margin: 0 auto; }
  #join .cityBox {
    width: 1200px;
    min-height: 140px;
    transition: height 0.5s;
    -ms-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    margin-top: 40px; }
    #join .cityBox .cbLeft {
      width: 190px;
      height: 144px;
      background-color: #a51e32;
      margin-right: 5px; }
      #join .cityBox .cbLeft .cbPro {
        text-align: center;
        font-size: 26px;
        color: white;
        margin-top: 30px;
        margin-bottom: 10px; }
      #join .cityBox .cbLeft .cbCity {
        display: block;
        margin: 0 auto;
        font-size: 14px;
        color: white;
        padding: 5px 18px;
        width: auto;
        border: 1px solid white;
        border-radius: 5px;
        background-color: #a51e32;
        cursor: inherit; }
    #join .cityBox .cbRight {
      width: 1005px;
      min-height: 34px;
      padding: 55px 0;
      position: relative;
      background-color: #EEEEEE; }
      #join .cityBox .cbRight .ccbtnBox {
        width: 120px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 20px; }
        #join .cityBox .cbRight .ccbtnBox button {
          float: left;
          width: 60px;
          height: 28px;
          color: #888888;
          border: 1px solid #C8C8C8;
          background-color: transparent; }
        #join .cityBox .cbRight .ccbtnBox .ccActiveBtn {
          background-color: #a51e32;
          border-color: #a51e32;
          color: white; }
      #join .cityBox .cbRight .areaBox {
        width: 885px;
        margin: 0 auto;
        min-height: 34px; }
        #join .cityBox .cbRight .areaBox a {
          display: block;
          padding: 3px 12px;
          border: 1px solid #C8C8C8;
          border-radius: 5px;
          background-color: transparent;
          color: #888888;
          margin-right: 10px;
          margin-bottom: 10px; }
        #join .cityBox .cbRight .areaBox .areaActive {
          background-color: #a51e32;
          border-color: #a51e32;
          color: white; }

.shopStatus {
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px; }
  .shopStatus table {
    width: 100%; }
    .shopStatus table td {
      width: 400px;
      height: 60px;
      text-align: center;
      font-size: 14px;
      color: #333333;
      border-right: 1px solid white;
      border-bottom: 1px solid #eeeeee; }
    .shopStatus table tr:nth-child(1) {
      background-color: white; }
      .shopStatus table tr:nth-child(1) td {
        background-color: #a51e32;
        color: white;
        font-size: 18px; }
      .shopStatus table tr:nth-child(1) td:nth-last-child(1) {
        border-right: 1px solid #a51e32; }
    .shopStatus table tr:nth-child(2n+1) {
      background-color: #f6f6f6; }

.proviceBox {
  position: absolute;
  top: 65px;
  left: 0;
  width: 540px;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(51, 51, 51, 0.2);
  z-index: 10; }
  .proviceBox .list {
    text-indent: 0px;
    line-height: 28px; }
    .proviceBox .list .lLeft {
      width: 40px;
      text-align: center;
      font-size: 14px; }
    .proviceBox .list .lRight {
      width: 500px; }
      .proviceBox .list .lRight .floatl {
        min-width: 100px;
        font-size: 12px;
        text-align: center;
        color: #333333;
        margin: 0; }
        .proviceBox .list .lRight .floatl a {
          display: block;
          width: 100%;
          height: 100%;
          color: #333333; }
        .proviceBox .list .lRight .floatl a:hover {
          color: #a51e32; }
  .proviceBox > p {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #a51e32;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    text-indent: 0px;
    margin-bottom: 10px;
    color: #a51e32; }

.login {
  padding: 115px 0;
  width: 800px;
  background-color: #fcfcfc;
  margin: 0 auto;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 10px 10px rgba(246, 246, 246, 0.1);
  margin-bottom: 60px; }
  .login ul li {
    width: 598px;
    height: 58px;
    border: 1px solid #c8c8c8;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    background: url(../img/jobperson.png) no-repeat 15px center;
    background-color: #f6f6f6; }
    .login ul li .openEye {
      position: absolute;
      top: 22px;
      right: 20px;
      display: none; }
    .login ul li .closeEye {
      position: absolute;
      top: 21px;
      right: 20px; }
    .login ul li p {
      color: #333333;
      font-size: 16px;
      position: absolute;
      top: 0;
      left: 45px;
      line-height: 58px; }
    .login ul li input {
      width: 480px;
      border: 0;
      height: 58px;
      line-height: 59px;
      margin-left: 100px;
      background-color: #f6f6f6; }
  .login ul li:nth-child(2) {
    background: url(../img/password.png) no-repeat 15px center;
    background-color: #f6f6f6;
    margin-bottom: 60px; }

.loginBtn button {
  width: 398px;
  height: 58px;
  border: 1px solid #C8C8C8;
  display: block;
  margin: 0 auto;
  color: #333333;
  font-size: 18px;
  background-color: #F6F6F6;
  margin-top: 30px; }
.loginBtn .redbtn {
  border-color: #a51e32;
  background-color: #a51e32;
  color: white; }

/*# sourceMappingURL=countryJoin.css.map */
