@charset "UTF-8";
#banner {
  min-width: 1200px;
  position: relative; }
  #banner img {
    width: 100%; }
  #banner .swiper-pagination-bullet {
    width: auto;
    height: auto;
    padding: 18px 8px;
    display: inline-block;
    border-radius: 0%;
    font-size: 12px;
    color: white;
    background-color: transparent;
    opacity: 0.8;
    margin: 0; }
  #banner .swiper-pagination-bullet-active {
    border-bottom: 2px solid #a51e32; }

header {
  position: absolute; }

header nav .navR ul li > a {
  color: white !important; }

header nav .navR ul li > a > p {
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5); }

header nav .navR ul li.nActive > a > p {
  text-shadow: 3px 1px 2px transparent; }

header nav .navR ul li .imgBtn {
  padding: 20px 5px; }

header nav .navR ul li .sBox {
  padding: 20px 5px; }

header nav .navR ul li:hover > a > p {
  text-shadow: 3px 1px 2px transparent; }

#businessCenter {
  width: 1200px;
  margin: 0 auto; }
  #businessCenter > div {
    width: 170px;
    height: 158px; }
    #businessCenter > div a {
      display: block;
      width: 100%;
      height: 98px;
      margin-top: 30px;
      border-right: 1px dashed #c8c8c8; }
      #businessCenter > div a > div {
        width: 100%;
        transition: background-image 0.5s linear;
        -moz-transition: background-image 0.5s linear;
        -webkit-transition: background-image 0.5s linear;
        -ms-transition: background-image 0.5s linear; }
      #businessCenter > div a p {
        color: #666666;
        font-size: 12px;
        text-align: center;
        line-height: 26px;
        height: 26px; }
  #businessCenter > div a > div > div > img {
    transition: margin-top 0.5s;
    -ms-transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
    -moz-animation: margin-top 0.5s; }
  #businessCenter > div:nth-child(2) a > div {
    padding-top: 22px;
    height: 50px; }
    #businessCenter > div:nth-child(2) a > div > div {
      width: 54px;
      height: 50px;
      margin: 0 auto;
      overflow: hidden; }
  #businessCenter > div:nth-child(2) a:hover > div > div img {
    margin-top: -60px; }
  #businessCenter > div:nth-child(2) a:hover p {
    color: #a51e32; }
  #businessCenter > div:nth-child(3) a > div {
    padding-top: 24px;
    height: 48px; }
    #businessCenter > div:nth-child(3) a > div > div {
      width: 44px;
      height: 48px;
      margin: 0 auto;
      overflow: hidden; }
      #businessCenter > div:nth-child(3) a > div > div img {
        margin-left: -60px; }
  #businessCenter > div:nth-child(3) a:hover > div > div img {
    margin-top: -60px; }
  #businessCenter > div:nth-child(3) a:hover p {
    color: #a51e32; }
  #businessCenter > div:nth-child(4) a > div {
    padding-top: 22px;
    height: 50px; }
    #businessCenter > div:nth-child(4) a > div > div {
      width: 49px;
      height: 50px;
      margin: 0 auto;
      overflow: hidden; }
      #businessCenter > div:nth-child(4) a > div > div img {
        margin-left: 0px;
        margin-top: -120px; }
  #businessCenter > div:nth-child(4) a:hover > div > div img {
    margin-top: -180px; }
  #businessCenter > div:nth-child(4) a:hover p {
    color: #a51e32; }
  #businessCenter > div:nth-child(5) a > div {
    padding-top: 21px;
    height: 51px; }
    #businessCenter > div:nth-child(5) a > div > div {
      width: 54px;
      height: 51px;
      margin: 0 auto;
      overflow: hidden; }
      #businessCenter > div:nth-child(5) a > div > div img {
        margin-left: -60px;
        margin-top: -120px; }
  #businessCenter > div:nth-child(5) a:hover > div > div img {
    margin-top: -180px; }
  #businessCenter > div:nth-child(5) a:hover p {
    color: #a51e32; }
  #businessCenter > div:nth-child(6) a > div {
    padding-top: 26px;
    height: 46px; }
    #businessCenter > div:nth-child(6) a > div > div {
      width: 44px;
      height: 46px;
      margin: 0 auto;
      overflow: hidden; }
      #businessCenter > div:nth-child(6) a > div > div img {
        margin-left: -0px;
        margin-top: -240px; }
  #businessCenter > div:nth-child(6) a:hover > div > div img {
    margin-top: -300px; }
  #businessCenter > div:nth-child(6) a:hover p {
    color: #a51e32; }
  #businessCenter > div:nth-child(7) a > div {
    padding-top: 26px;
    height: 46px; }
    #businessCenter > div:nth-child(7) a > div > div {
      width: 46px;
      height: 46px;
      margin: 0 auto;
      overflow: hidden; }
      #businessCenter > div:nth-child(7) a > div > div img {
        margin-left: -60px;
        margin-top: -240px; }
  #businessCenter > div:nth-child(7) a:hover > div > div img {
    margin-top: -300px; }
  #businessCenter > div:nth-child(7) a:hover p {
    color: #a51e32; }
  #businessCenter > div:nth-child(1) {
    width: 174px;
    height: 158px;
    background-color: #eeeeee; }
    #businessCenter > div:nth-child(1) p {
      text-align: center; }
    #businessCenter > div:nth-child(1) p:nth-child(1) {
      color: #333333;
      font-size: 18px;
      line-height: 28px;
      height: 28px;
      margin-top: 54px; }
    #businessCenter > div:nth-child(1) p:nth-child(2) {
      color: #999999;
      font-size: 12px;
      line-height: 22px;
      height: 22px;
      font-family: arial; }
  #businessCenter > div:last-child {
    height: 0;
    width: 0; }

#introduce {
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px; }
  #introduce .introBox {
    width: 100%;
    height: 450px; }
    #introduce .introBox .imgBox > div {
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }
      #introduce .introBox .imgBox > div > a {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 10; }
        #introduce .introBox .imgBox > div > a .joiningBox {
          width: 39px;
          height: 36px;
          margin: 0 auto;
          margin-top: 192px;
          overflow: hidden; }
          #introduce .introBox .imgBox > div > a .joiningBox img {
            margin-left: -120px; }
        #introduce .introBox .imgBox > div > a .loveOrderBox {
          width: 36px;
          height: 36px;
          margin: 0 auto;
          margin-top: 192px;
          overflow: hidden; }
          #introduce .introBox .imgBox > div > a .loveOrderBox img {
            margin-left: -120px;
            margin-top: -200px; }
        #introduce .introBox .imgBox > div > a p {
          color: #ffffff;
          font-size: 16px;
          text-align: center;
          margin-top: 15px; }
    #introduce .introBox > div {
      width: 600px;
      height: 450px;
      overflow: hidden; }
    #introduce .introBox > div:last-child {
      width: 0;
      height: 0; }
    #introduce .introBox .imgAndContent .icTop {
      width: 100%;
      height: 244px; }
      #introduce .introBox .imgAndContent .icTop ul {
        width: 446px;
        margin: 0 auto; }
        #introduce .introBox .imgAndContent .icTop ul li:nth-child(1) {
          font-size: 18px;
          color: #333333;
          line-height: 28px;
          padding-top: 46px; }
        #introduce .introBox .imgAndContent .icTop ul li:nth-child(2) {
          font-size: 12px;
          color: #999999;
          font-family: arial;
          line-height: 22px; }
        #introduce .introBox .imgAndContent .icTop ul li:nth-child(3) p {
          width: 46px;
          border-bottom: 1px solid #a51e32;
          margin: 22px 0; }
        #introduce .introBox .imgAndContent .icTop ul li:nth-child(4) {
          font-size: 12px;
          color: #888888;
          font-family: arial;
          line-height: 30px; }
    #introduce .introBox .imgAndContent .icBottom {
      width: 100%;
      height: 206px; }
      #introduce .introBox .imgAndContent .icBottom > div {
        width: 297px;
        height: 200px;
        margin: 3px 0px 3px 3px;
        overflow: hidden; }
        #introduce .introBox .imgAndContent .icBottom > div > div {
          position: relative;
          width: 100%;
          height: 100%; }
          #introduce .introBox .imgAndContent .icBottom > div > div > a, #introduce .introBox .imgAndContent .icBottom > div > div .imgPop {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 10; }
            #introduce .introBox .imgAndContent .icBottom > div > div > a .businessBox, #introduce .introBox .imgAndContent .icBottom > div > div .imgPop .businessBox {
              width: 36px;
              height: 36px;
              margin: 0 auto;
              margin-top: 67px;
              overflow: hidden; }
              #introduce .introBox .imgAndContent .icBottom > div > div > a .businessBox img, #introduce .introBox .imgAndContent .icBottom > div > div .imgPop .businessBox img {
                margin-left: -120px;
                margin-top: -40px; }
            #introduce .introBox .imgAndContent .icBottom > div > div > a .findBox img, #introduce .introBox .imgAndContent .icBottom > div > div .imgPop .findBox img {
              margin-top: -80px; }
            #introduce .introBox .imgAndContent .icBottom > div > div > a .serverBox img, #introduce .introBox .imgAndContent .icBottom > div > div .imgPop .serverBox img {
              margin-top: -160px; }
            #introduce .introBox .imgAndContent .icBottom > div > div > a p, #introduce .introBox .imgAndContent .icBottom > div > div .imgPop p {
              color: #ffffff;
              font-size: 16px;
              text-align: center;
              margin-top: 15px; }
          #introduce .introBox .imgAndContent .icBottom > div > div .imgPop .orderBox {
            width: 34px;
            height: 37px;
            margin: 0 auto;
            margin-top: 30px;
            overflow: hidden; }
            #introduce .introBox .imgAndContent .icBottom > div > div .imgPop .orderBox img {
              margin-left: -120px;
              margin-top: -120px; }
          #introduce .introBox .imgAndContent .icBottom > div > div .imgPop ul {
            margin: 0 auto; }
          #introduce .introBox .imgAndContent .icBottom > div > div .imgPop ul li {
            display: inline-block;
            margin: 15px 5px 0 5px; }
            #introduce .introBox .imgAndContent .icBottom > div > div .imgPop ul li a {
              color: #999999;
              position: relative; }
            #introduce .introBox .imgAndContent .icBottom > div > div .imgPop ul li a::after {
              position: absolute;
              content: "";
              width: 0%;
              height: 1px;
              top: 100%;
              left: 0;
              border-bottom: 1px solid white;
              transition: width 0.5s linear;
              -moz-transition: width 0.5s linear;
              -ms-transition: width 0.5s linear;
              -webkit-transition: width 0.5s linear; }
            #introduce .introBox .imgAndContent .icBottom > div > div .imgPop ul li a:hover {
              color: white; }
            #introduce .introBox .imgAndContent .icBottom > div > div .imgPop ul li a:hover::after {
              width: 100%; }
      #introduce .introBox .imgAndContent .icBottom > div:last-child {
        width: 0;
        height: 0; }
  #introduce .introBox1 .imgAndContent .icTop ul li p {
    text-align: right; }
  #introduce .introBox1 .imgAndContent .icTop ul li:nth-child(3) p {
    margin-left: 398px; }

#introduce .introBox1 .imgAndContent .icBottom > div {
  margin: 6px 0px 0px 3px; }

#consultCenter {
  width: 1200px;
  padding: 55px 0 120px 0;
  margin: 0 auto; }
  #consultCenter .ccTitle ul {
    text-align: center; }
    #consultCenter .ccTitle ul li:nth-child(1) {
      font-size: 18px;
      line-height: 28px;
      color: #333333; }
    #consultCenter .ccTitle ul li:nth-child(2) {
      font-size: 12px;
      line-height: 22px;
      color: #888888;
      font-family: arial; }
    #consultCenter .ccTitle ul li:nth-child(3) {
      margin: 15px 0 30px 0; }
      #consultCenter .ccTitle ul li:nth-child(3) p {
        width: 46px;
        margin: 0 auto;
        height: 1px;
        border-bottom: 1px solid #a51e32; }
  #consultCenter .ccBox > div {
    width: 398px;
    height: 503px;
    overflow: hidden; }
  #consultCenter .ccBox > div:nth-child(1) > .ccImg01 {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 3px;
    position: relative; }
  #consultCenter .ccBox > div:nth-child(1) > .ccImg02 {
    width: 100%;
    height: 250px;
    overflow: hidden; }
    #consultCenter .ccBox > div:nth-child(1) > .ccImg02 > div {
      width: 196px;
      height: 250px;
      position: relative; }
      #consultCenter .ccBox > div:nth-child(1) > .ccImg02 > div .ccOn ul {
        width: 136px; }
        #consultCenter .ccBox > div:nth-child(1) > .ccImg02 > div .ccOn ul li:nth-child(1) {
          padding-top: 35px;
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box;
          /** 对象作为伸缩盒子模型显示 **/
          -webkit-box-orient: vertical;
          /** 设置或检索伸缩盒对象的子元素的排列方式 **/
          -webkit-line-clamp: 1;
          /** 显示的行数 **/
          overflow: hidden;
          /** 隐藏超出的内容 **/ }
        #consultCenter .ccBox > div:nth-child(1) > .ccImg02 > div .ccOn ul li:nth-child(2) {
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box;
          /** 对象作为伸缩盒子模型显示 **/
          -webkit-box-orient: vertical;
          /** 设置或检索伸缩盒对象的子元素的排列方式 **/
          -webkit-line-clamp: 1;
          /** 显示的行数 **/
          overflow: hidden;
          /** 隐藏超出的内容 **/ }
        #consultCenter .ccBox > div:nth-child(1) > .ccImg02 > div .ccOn ul li:nth-child(5) {
          margin-top: 10px; }
    #consultCenter .ccBox > div:nth-child(1) > .ccImg02 > div:nth-child(1) {
      margin-right: 6px; }
    #consultCenter .ccBox > div:nth-child(1) > .ccImg02 > div:last-child {
      width: 0px;
      height: 0px; }
  #consultCenter .ccBox > div:nth-child(2) {
    margin: 0 3px; }
    #consultCenter .ccBox > div:nth-child(2) > .ccImg03 {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative; }
      #consultCenter .ccBox > div:nth-child(2) > .ccImg03 .ccOn ul li:nth-child(4) p {
        -webkit-line-clamp: 3; }
      #consultCenter .ccBox > div:nth-child(2) > .ccImg03 .ccOn ul li:nth-child(1) {
        padding-top: 135px; }
  #consultCenter .ccBox > div:nth-child(3) > .ccImg04 {
    width: 100%;
    height: 250px;
    margin-bottom: 3px;
    overflow: hidden;
    position: relative; }
  #consultCenter .ccBox > div:nth-child(3) > .ccImg04:nth-child(2) {
    margin: 0; }
  #consultCenter .ccBox > div:last-child {
    width: 0;
    height: 0; }
  #consultCenter .ccBox .ccOn {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
    #consultCenter .ccBox .ccOn ul {
      width: 286px;
      margin: 0 auto; }
      #consultCenter .ccBox .ccOn ul li:nth-child(1) {
        font-size: 16px;
        color: white;
        line-height: 28px;
        padding-top: 46px; }
      #consultCenter .ccBox .ccOn ul li:nth-child(2) {
        font-size: 12px;
        color: #888888;
        font-family: "arial narrow";
        line-height: 22px; }
      #consultCenter .ccBox .ccOn ul li:nth-child(3) p {
        width: 60px;
        height: 1px;
        border-bottom: 1px solid #a51e32;
        margin: 15px 0; }
      #consultCenter .ccBox .ccOn ul li:nth-child(4) {
        font-size: 12px;
        color: #999999;
        font-family: arial;
        line-height: 30px; }
        #consultCenter .ccBox .ccOn ul li:nth-child(4) p {
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box;
          /** 对象作为伸缩盒子模型显示 **/
          -webkit-box-orient: vertical;
          /** 设置或检索伸缩盒对象的子元素的排列方式 **/
          -webkit-line-clamp: 1;
          /** 显示的行数 **/
          overflow: hidden;
          /** 隐藏超出的内容 **/ }
      #consultCenter .ccBox .ccOn ul li:nth-child(5) {
        margin-top: 24px; }
        #consultCenter .ccBox .ccOn ul li:nth-child(5) a {
          display: block;
          width: 32px;
          height: 32px;
          overflow: hidden; }
          #consultCenter .ccBox .ccOn ul li:nth-child(5) a img {
            width: 100%;
            transition: transform 0.4s linear;
            -moz-transition: -moz-transform 0.4s linear;
            -webkit-transition: -webkit-transform 0.4s linear;
            -ms-transition: transform 0.4s linear; }
        #consultCenter .ccBox .ccOn ul li:nth-child(5) a:hover img {
          transform: rotate(360deg); }

/*# sourceMappingURL=index.css.map */
