#banner img {
  width: 100%; }

header {
  position: absolute; }

#join {
  width: 1200px;
  margin: 0 auto; }
  #join .moreChoice .short {
    width: 210px;
    height: 60px;
    border: 1px solid #c8c8c8;
    position: relative;
    margin-right: 27px;
    cursor: pointer;
    cursor: -ms-pointer; }
    #join .moreChoice .short > img {
      position: absolute;
      top: 27px;
      right: 25px;
      transition: transform 0.5s;
      -ms-transition: transform 0.5s;
      -webkit-transition: transform 0.5s;
      -moz-transition: transform 0.5s; }
    #join .moreChoice .short > p {
      font-size: 16px;
      color: #333333;
      line-height: 60px;
      text-indent: 30px; }
    #join .moreChoice .short .profess {
      overflow: hidden;
      position: absolute;
      top: 100%;
      left: -1px;
      display: none;
      background-color: white;
      z-index: 100; }
    #join .moreChoice .short ul {
      width: 210px;
      border: 1px solid #c8c8c8;
      background-color: white;
      padding: 10px 0;
      transition: height 0.5; }
    #join .moreChoice .short ul li p {
      line-height: 35px;
      text-indent: 30px;
      font-size: 14px; }
    #join .moreChoice .short ul li p:hover {
      cursor: pointer;
      cursor: -ms-pointer;
      background-color: #a51e32;
      color: white; }
  #join .moreChoice .long {
    width: 620px;
    height: 60px;
    border: 1px solid #c8c8c8;
    position: relative;
    border-right: 0; }
    #join .moreChoice .long button {
      width: 100px;
      height: 62px;
      position: absolute;
      top: -1px;
      right: -100px;
      border: 1px solid #333333;
      background-color: #333333;
      color: white; }
    #join .moreChoice .long input {
      width: 580px;
      height: 100%;
      border: 0;
      color: #333333;
      font-size: 16px;
      margin-left: 30px; }
    #join .moreChoice .long input::-webkit-input-placeholder {
      color: #888888; }
    #join .moreChoice .long input::-moz-placeholder {
      color: #888888; }
    #join .moreChoice .long input::-ms-input-placeholder {
      color: #888888; }
  #join .jobBox {
    width: 100%;
    padding-top: 60px; }
    #join .jobBox .job:hover {
      box-shadow: 0 0 4px 4px rgba(234, 234, 234, 0.2);
      border-color: white; }
    #join .jobBox .job:hover::after {
      width: 100%; }
    #join .jobBox .job:hover .rc {
      display: block; }
    #join .jobBox .job {
      width: 578px;
      height: 198px;
      border: 1px solid #eeeeee;
      position: relative; }
      #join .jobBox .job .rc {
        position: absolute;
        top: 30px;
        right: 40px;
        transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        display: none; }
      #join .jobBox .job .rc:hover {
        transform: rotate(180deg); }
      #join .jobBox .job ul {
        width: 500px;
        margin: 0 auto; }
    #join .jobBox .job:nth-child(2n+1) {
      margin-right: 40px;
      margin-bottom: 50px; }
    #join .jobBox .job::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      border-bottom: 1px solid #a51e32;
      transition: width 0.5s;
      -ms-transition: width 0.5s;
      -webkit-transition: width 0.5s;
      -moz-transition: width 0.5s; }
  #join .jobDetails .return {
    width: 100%;
    margin: 65px 0 15px;
    height: 36px;
    position: relative; }
    #join .jobDetails .return .rBtn {
      position: absolute;
      top: 0;
      right: 0;
      width: 101px;
      height: 36px; }
    #join .jobDetails .return button {
      width: 100px;
      height: 36px;
      border: 1px solid #eeeeee;
      background-color: white;
      color: #888888;
      font-size: 12px;
      position: relative;
      transition: color 0.2s,border 0.2s;
      -ms-transition: color 0.2s,border 0.2s;
      -webkit-transition: width 0.2s,border 0.2s;
      -moz-transition: width 0.2s,border 0.2s;
      z-index: 5; }
    #join .jobDetails .return button::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #a51e32;
      color: white;
      transition: width 0.2s;
      -ms-transition: width 0.2s;
      -webkit-transition: width 0.2s;
      -moz-transition: width 0.2s;
      z-index: -1; }
    #join .jobDetails .return button:hover {
      color: white;
      border-color: #a51e32; }
    #join .jobDetails .return button:hover::after {
      width: 100%; }
  #join .jobDetails .details {
    border-top: 1px solid #c8c8c8; }
    #join .jobDetails .details .topDetails {
      width: 1120px;
      margin: 0 auto;
      position: relative; }
      #join .jobDetails .details .topDetails .tdBtn {
        width: 180px;
        height: 60px;
        position: absolute;
        top: 15px;
        right: 0px; }
        #join .jobDetails .details .topDetails .tdBtn button {
          width: 178px;
          height: 58px;
          border: 1px solid #c8c8c8;
          background-color: transparent;
          color: #a51e32;
          font-size: 18px;
          position: relative;
          transition: color 0.2s,border 0.2s;
          -ms-transition: color 0.2s,border 0.2s;
          -webkit-transition: color 0.2s,border 0.2s;
          -moz-transition: color 0.2s,border 0.2s; }
        #join .jobDetails .details .topDetails .tdBtn button::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: #a51e32;
          transition: width 0.2s;
          -ms-transition: width 0.2s;
          -webkit-transition: width 0.2s;
          -moz-transition: width 0.2s;
          z-index: -1; }
        #join .jobDetails .details .topDetails .tdBtn button:hover::after {
          width: 100%; }
        #join .jobDetails .details .topDetails .tdBtn button:hover {
          color: white;
          border-color: #a51e32; }
      #join .jobDetails .details .topDetails .jobMoreM {
        padding-bottom: 60px; }
        #join .jobDetails .details .topDetails .jobMoreM p {
          padding: 0 30px 0 20px;
          font-size: 14px;
          color: #333333; }
        #join .jobDetails .details .topDetails .jobMoreM > div:nth-child(1) p {
          background: url(../img/person.png) no-repeat left center; }
        #join .jobDetails .details .topDetails .jobMoreM > div:nth-child(2) p {
          background: url(../img/p1.png) no-repeat left center; }
        #join .jobDetails .details .topDetails .jobMoreM > div:nth-child(3) p {
          background: url(../img/time.png) no-repeat left center; }
    #join .jobDetails .details .bottomDetails {
      width: 1120px;
      margin: 0 auto;
      margin-bottom: 40px; }
      #join .jobDetails .details .bottomDetails > p {
        font-size: 18px;
        color: #333333;
        margin-bottom: 15px; }
      #join .jobDetails .details .bottomDetails ul li p {
        font-size: 14px;
        color: #888888;
        line-height: 40px; }
  #join .page {
    margin-bottom: 80px; }
    #join .page ul li {
      display: inline-block;
      font-size: 14px; }
      #join .page ul li a {
        display: block;
        width: 28px;
        height: 30px;
        border: 1px solid #c8c8c8;
        text-align: center;
        line-height: 32px;
        color: #888888; }
      #join .page ul li .nextPage {
        width: 68px;
        color: #666666; }
      #join .page ul li .lastPage {
        width: 68px;
        color: #666666; }
      #join .page ul li a:hover {
        background-color: #eeeeee;
        color: #a51e32;
        border-color: #EEEEEE; }
      #join .page ul li .pActive {
        background-color: #eeeeee;
        color: #a51e32;
        border-color: #EEEEEE; }
    #join .page ul li {
      margin-right: 5px; }
    #join .page ul li:last-child {
      margin-right: 0px; }

.rLine {
  width: 60px;
  height: 1px;
  display: block;
  border-bottom: 1.1px solid #a51e32;
  margin: 10px 0; }

.jobNameM {
  color: #333333;
  font-size: 18px;
  margin-top: 40px; }

.jobNameS {
  color: #888888;
  font-size: 12px;
  font-family: arial;
  line-height: 24px; }

.jobD {
  color: #888888;
  font-size: 12px;
  line-height: 30px; }

#pop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 9999; }
  #pop .pop {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 487.5px;
    height: 600px;
    margin: -300px 0 0 -243.25px;
    margin-top: -300px;
    background: url(../img/popBack.jpg) no-repeat center center;
    background-size: cover;
    position: relative; }
    #pop .pop .close {
      position: absolute;
      top: 40px;
      right: 40px;
      transform: rotate(45deg);
      transition: transform 0.5s;
      -ms-transition: transform 0.5s;
      -webkit-transition: transform 0.5s;
      -moz-transition: transform 0.5s; }
    #pop .pop .close:hover {
      transform: rotate(135deg); }
    #pop .pop .popBox .bigTitle {
      padding: 48px 0 28px; }
    #pop .pop .popBox .form {
      width: 340px;
      margin: 0 auto; }
      #pop .pop .popBox .form input {
        width: 338px;
        padding-left: 50px;
        padding-right: 10px;
        border: 1px solid #c8c8c8;
        height: 58px;
        color: #333333;
        font-size: 16px; }
      #pop .pop .popBox .form input::-moz-placeholder {
        color: #888888; }
      #pop .pop .popBox .form input::-webkit-input-placeholder {
        color: #888888; }
      #pop .pop .popBox .form input::-ms-input-placeholder {
        color: #888888; }
      #pop .pop .popBox .form ul li:nth-child(1) input {
        background: url(../img/jobperson.png) no-repeat 18px center; }
      #pop .pop .popBox .form ul li:nth-child(2) input {
        background: url(../img/jobphone.png) no-repeat 18px center; }
      #pop .pop .popBox .form ul li {
        margin-bottom: 10px; }
      #pop .pop .popBox .form ul li:nth-child(3) {
        width: 296px;
        border: 1px solid #c8c8c8;
        padding: 20px 20px 16px 20px; }
      #pop .pop .popBox .form .upLoad {
        position: relative; }
        #pop .pop .popBox .form .upLoad .upBtnBox {
          position: absolute;
          top: 14px;
          left: 70px; }
          #pop .pop .popBox .form .upLoad .upBtnBox button {
            width: 84px;
            height: 32px;
            border: 1px solid #c8c8c8;
            background-color: #eeeeee;
            color: #333333;
            font-size: 16px; }
          #pop .pop .popBox .form .upLoad .upBtnBox input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0; }
        #pop .pop .popBox .form .upLoad p {
          font-size: 16px;
          color: #888888;
          line-height: 60px; }
        #pop .pop .popBox .form .upLoad span {
          position: absolute;
          top: 0px;
          left: 160px;
          font-size: 16px;
          color: #888888;
          line-height: 60px; }
      #pop .pop .popBox .form textarea {
        height: 90px;
        color: #333333;
        width: 100%;
        font-size: 16px;
        overflow: hidden;
        resize: none;
        line-height: 24px;
        border: 0px;
        background-color: transparent; }
      #pop .pop .popBox .form textarea::-moz-placeholder {
        color: #888888; }
      #pop .pop .popBox .form textarea::-webkit-input-placeholder {
        color: #888888; }
      #pop .pop .popBox .form textarea::-ms-input-placeholder {
        color: #888888; }

/*# sourceMappingURL=join.css.map */
