#banner header {
  position: absolute; }
#banner > img {
  width: 100%; }

#server {
  width: 100%;
  background-color: #EEEEEE;
  padding-bottom: 80px; }
  #server .choice {
    width: 580px;
    margin: 0 auto;
    padding: 80px 0px 60px; }
    #server .choice ul li {
      float: left;
      width: 180px;
      height: 60px;
      margin-right: 20px;
      position: relative;
      background-color: white; }
      #server .choice ul li button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        color: #888888;
        font-size: 18px;
        background-color: transparent;
        z-index: 5;
        -moz-transition: color 0.5s;
        -webkit-transition: color 0.5s;
        -ms-transition: color 0.5s;
        transition: color 0.5s; }
      #server .choice ul li .wbtn {
        background-color: #a51e32;
        color: white; }
      #server .choice ul li button::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 0%;
        height: 100%;
        background-color: #a51e32;
        z-index: -1;
        -moz-transition: width 0.5s,left 0.5s;
        -webkit-transition: width 0.5s,left 0.5s;
        -ms-transition: width 0.5s,left 0.5s;
        transition: width 0.5s,left 0.5s; }
      #server .choice ul li button:hover {
        color: white; }
      #server .choice ul li button:hover::after {
        width: 100%;
        left: 0%; }
    #server .choice ul li:last-child {
      margin-right: 0; }

.serverBox {
  width: 1200px;
  height: 750px;
  margin: 0 auto;
  background-color: white; }
  .serverBox .sBLeft {
    width: 700px; }
    .serverBox .sBLeft .title {
      font-size: 22px;
      text-align: center;
      color: #888888;
      padding: 145px 0 25px; }
    .serverBox .sBLeft .radioChoices {
      width: 600px;
      height: auto;
      position: relative;
      margin: 0 auto; }
    .serverBox .sBLeft .radioBox {
      position: relative;
      top: 0;
      left: 0;
      width: 600px;
      height: 60px;
      overflow: hidden;
      border: 1px solid #c8c8c8;
      -moz-transition: height 0.5s;
      -webkit-transition: height 0.5s;
      -ms-transition: height 0.5s;
      transition: height 0.5s;
      z-index: 5;
      margin-left: -1px;
      background-color: white; }
      .serverBox .sBLeft .radioBox .pLeft {
        width: 80px; }
        .serverBox .sBLeft .radioBox .pLeft p {
          font-size: 16px;
          line-height: 60px;
          color: #888888;
          text-indent: 19px; }
          .serverBox .sBLeft .radioBox .pLeft p span {
            color: #a51e32; }
      .serverBox .sBLeft .radioBox .rMiddle {
        width: 476px;
        padding-bottom: 12px; }
        .serverBox .sBLeft .radioBox .rMiddle .layui-input-block {
          margin-left: 0; }
        .serverBox .sBLeft .radioBox .rMiddle .layui-form-radio {
          width: 92px;
          margin: 18px 0 0 0;
          padding-right: 0; }
      .serverBox .sBLeft .radioBox .rRight a {
        display: block;
        padding: 25px 10px;
        -moz-transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        transition: transform 0.5s; }
    .serverBox .sBLeft .twoInput {
      width: 602px;
      margin: 0 auto;
      margin-top: 10px; }
      .serverBox .sBLeft .twoInput > div:nth-child(1) {
        margin-right: 10px; }
      .serverBox .sBLeft .twoInput .twoInputIn {
        width: 295px;
        height: 60px;
        border: 1px solid #c8c8c8;
        position: relative; }
        .serverBox .sBLeft .twoInput .twoInputIn p {
          position: absolute;
          left: 0;
          top: 0;
          width: 90px;
          margin-left: 19px;
          line-height: 60px;
          color: #888888; }
          .serverBox .sBLeft .twoInput .twoInputIn p span {
            color: #a51e32; }
        .serverBox .sBLeft .twoInput .twoInputIn input {
          width: 180px;
          height: 58px;
          border: 0;
          margin-left: 95px;
          line-height: 58px;
          color: #333333; }
    .serverBox .sBLeft .oneInput {
      width: 600px;
      height: 60px;
      overflow: hidden;
      border: 1px solid #c8c8c8;
      margin: 0 auto;
      margin-top: 15px;
      position: relative; }
      .serverBox .sBLeft .oneInput > p {
        position: absolute;
        left: 0;
        top: 0;
        width: 90px;
        margin-left: 19px;
        line-height: 58px;
        color: #888888; }
        .serverBox .sBLeft .oneInput > p span {
          color: #a51e32; }
      .serverBox .sBLeft .oneInput input {
        width: 460px;
        height: 58px;
        border: 0;
        margin-left: 95px;
        margin-top: 1px;
        line-height: 58px;
        color: #333333; }
      .serverBox .sBLeft .oneInput .threeCity {
        width: 460px;
        margin-left: 110px; }
        .serverBox .sBLeft .oneInput .threeCity > .floatl {
          border: 1px solid #c8c8c8;
          width: 145px;
          height: 50px;
          margin-top: 4px;
          color: #333333;
          margin-right: 10px;
          background: url(../img/ms.png) no-repeat 105px center; }
          .serverBox .sBLeft .oneInput .threeCity > .floatl > p {
            line-height: 50px;
            text-indent: 20px;
            cursor: pointer;
            cursor: -ms-pointer; }
        .serverBox .sBLeft .oneInput .threeCity > .floatl:nth-last-child(2) {
          margin-right: 0px; }
    .serverBox .sBLeft .cone {
      overflow: visible; }
    .serverBox .sBLeft .textarea {
      width: 600px;
      height: 180px;
      overflow: hidden;
      border: 1px solid #c8c8c8;
      margin: 0 auto;
      margin-top: 10px;
      position: relative; }
      .serverBox .sBLeft .textarea p {
        position: absolute;
        left: 0;
        top: 0;
        width: 90px;
        margin-left: 19px;
        line-height: 58px;
        color: #888888; }
        .serverBox .sBLeft .textarea p span {
          color: #a51e32; }
      .serverBox .sBLeft .textarea textarea {
        width: 467px;
        height: 140px;
        border: 0;
        margin-left: 95px;
        margin-top: 17px;
        line-height: 24px;
        color: #333333; }
    .serverBox .sBLeft .btnBox {
      width: 600px;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 10px; }
    .serverBox .sBLeft .file {
      width: 600px;
      height: 60px;
      overflow: hidden;
      border: 1px solid #c8c8c8;
      margin: 0 auto;
      margin-top: 10px;
      position: relative; }
      .serverBox .sBLeft .file p {
        position: absolute;
        left: 0;
        top: 0;
        width: 90px;
        margin-left: 19px;
        line-height: 58px;
        color: #888888; }
        .serverBox .sBLeft .file p span {
          color: #a51e32; }
      .serverBox .sBLeft .file input {
        position: absolute;
        width: 460px;
        height: 58px;
        border: 0;
        top: 0;
        left: 95px;
        line-height: 60px;
        color: #333333;
        opacity: 0; }
      .serverBox .sBLeft .file button {
        width: 100px;
        height: 38px;
        position: absolute;
        left: 95px;
        top: 11px;
        background-color: #eeeeee;
        border: 1px solid #c8c8c8;
        color: #888888; }
      .serverBox .sBLeft .file > span {
        position: absolute;
        top: 0;
        left: 205px;
        line-height: 60px;
        color: #888888; }
  .serverBox .sBRight {
    width: 500px; }

.serverBox .sBLeft .proBlem .title {
  padding-top: 45px; }

.serverBox .sBLeft .suggest .title {
  padding-top: 95px; }

body {
  background-color: white; }

#fourp {
  width: 100%;
  background-color: white; }
  #fourp .netNavs {
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 20px; }
    #fourp .netNavs ul li {
      float: left;
      margin-right: 13px; }
      #fourp .netNavs ul li button {
        width: 290px;
        height: 58px;
        border: 1px solid #dddddd;
        font-size: 18px;
        color: #888888;
        position: relative;
        -moz-transition: color 0.2s, border 0.2s;
        -webkit-transition: color 0.2s, border 0.2s;
        -ms-transition: color 0.2s, border 0.2s;
        transition: color 0.2s, border 0.2s; }
      #fourp .netNavs ul li button::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 0px;
        border-bottom: 1.1px solid #a51e32;
        -moz-transition: width 0.2s;
        -webkit-transition: width 0.2s;
        -ms-transition: width 0.2s;
        transition: width 0.2s; }
      #fourp .netNavs ul li .btnActive {
        border: 1px solid #C8C8C8;
        box-shadow: 0 0 2px 2px rgba(231, 231, 231, 0.4);
        color: #a51e32; }
      #fourp .netNavs ul li button:hover {
        border: 1px solid #C8C8C8;
        box-shadow: 0 0 2px 2px rgba(231, 231, 231, 0.4);
        color: #a51e32; }
      #fourp .netNavs ul li .btnActive::after {
        width: 290px; }
      #fourp .netNavs ul li button:hover::after {
        width: 290px; }
    #fourp .netNavs ul li:last-child {
      margin-right: 0px; }

#contact {
  width: 100%;
  background-color: white; }
  #contact .contact {
    width: 1200px;
    margin: 0 auto; }
    #contact .contact .methods > .floatl {
      width: 380px;
      height: 380px;
      margin-right: 30px;
      overflow: hidden;
      background-color: #eeeeee; }
    #contact .contact .methods > .floatl:nth-child(3) {
      margin-right: 0px; }
    #contact .contact .methods .ercode .code {
      display: block;
      width: 150px;
      height: 150px;
      overflow: hidden;
      margin: 0 auto;
      margin-top: 75px; }
    #contact .contact .methods .ercode p {
      margin-top: 30px;
      text-align: center;
      color: #333333;
      font-size: 18px;
      position: relative; }
    #contact .contact .methods .ercode span {
      display: inline-block;
      width: 60px;
      height: 1px;
      border-bottom: 1.1px solid #a51e32;
      margin-left: 146px;
      margin-top: 20px; }
    #contact .contact .methods .apBox {
      background-color: rgba(0, 0, 0, 0.75); }
      #contact .contact .methods .apBox ul {
        width: 225px;
        margin: 0 auto; }
      #contact .contact .methods .apBox .pbBox, #contact .contact .methods .apBox .abBox {
        margin-top: 99px; }
      #contact .contact .methods .apBox .pT {
        font-size: 18px;
        color: white;
        margin-top: 30px; }
      #contact .contact .methods .apBox span {
        display: inline-block;
        width: 60px;
        height: 1px;
        border-bottom: 1.1px solid #a51e32;
        margin-top: 20px;
        margin-bottom: 13px; }
      #contact .contact .methods .apBox .sT {
        font-size: 14px;
        color: #eeeeee;
        line-height: 30px; }
    #contact .contact .methods .aBox {
      background-color: #eeeeee; }
      #contact .contact .methods .aBox .pT {
        color: #333333; }
      #contact .contact .methods .aBox .sT {
        color: #666666; }
      #contact .contact .methods .aBox button {
        color: #666666;
        font-size: 14px;
        width: 90px;
        height: 30px;
        border: 1px solid #c8c8c8;
        margin-top: 10px; }
      #contact .contact .methods .aBox button:hover {
        background-color: #a51e32;
        border-color: #a51e32;
        color: white; }
    #contact .contact .company {
      padding: 80px 0; }
      #contact .contact .company .map {
        width: 750px;
        height: 450px; }
        #contact .contact .company .map #companyMap {
          width: 100%;
          height: 100%; }
      #contact .contact .company .message {
        width: 450px;
        height: 450px; }
        #contact .contact .company .message ul {
          margin-left: 71px; }
        #contact .contact .company .message p {
          text-indent: 20px;
          font-size: 14px;
          color: #333333;
          line-height: 40px; }
          #contact .contact .company .message p a {
            display: inline; }
          #contact .contact .company .message p a:hover {
            color: #a51e32; }
        #contact .contact .company .message .mt {
          font-size: 18px;
          color: #333333;
          font-weight: bold;
          margin-top: 50px;
          text-indent: 0;
          line-height: 18px; }
        #contact .contact .company .message .st {
          color: #888888;
          font-family: arial;
          font-size: 12px;
          line-height: 30px; }
        #contact .contact .company .message .redLine {
          width: 60px;
          border-bottom: 1.1px solid #a51e32;
          margin-top: 10px;
          margin-bottom: 5px; }
        #contact .contact .company .message .huiLine {
          width: 304px;
          border-bottom: 1.1px solid #c8c8c8;
          margin-top: 10px;
          margin-bottom: 10px; }
        #contact .contact .company .message .p1 {
          background: url(../img/p1.png) no-repeat 2px 13px; }
        #contact .contact .company .message .p2 {
          background: url(../img/p2.png) no-repeat 2px 14px; }
        #contact .contact .company .message .p3 {
          background: url(../img/p3.png) no-repeat 2px 14px; }
        #contact .contact .company .message .p4 {
          background: url(../img/p4.png) no-repeat 2px 14px; }
        #contact .contact .company .message .p5 {
          background: url(../img/p5.png) no-repeat 2px 12px; }
        #contact .contact .company .message .p6 {
          background: url(../img/p6.png) no-repeat 2px 14px; }
        #contact .contact .company .message .p7 {
          background: url(../img/p6.png) no-repeat 2px 14px; }

#specialServer {
  width: 100%;
  background-color: white;
  padding-bottom: 100px; }
  #specialServer .stepBox {
    width: 1200px;
    margin: 0 auto; }
    #specialServer .stepBox .stepChild:hover {
      box-shadow: 0 0 4px 4px rgba(231, 231, 231, 0.2); }
      #specialServer .stepBox .stepChild:hover .stepContent {
        background-color: white; }
      #specialServer .stepBox .stepChild:hover .stepImg img {
        width: 105%; }
    #specialServer .stepBox .stepChild {
      width: 598px;
      height: 250px;
      overflow: hidden;
      margin-bottom: 4px; }
      #specialServer .stepBox .stepChild .stepImg {
        width: 260px;
        height: 250px;
        overflow: hidden; }
        #specialServer .stepBox .stepChild .stepImg img {
          width: 100%;
          -moz-transition: width 0.5s,margin 0.5s;
          -webkit-transition: width 0.5s,margin 0.5s;
          -ms-transition: width 0.5s,margin 0.5s;
          transition: width 0.5s,margin 0.5s; }
      #specialServer .stepBox .stepChild .stepContent {
        width: 338px;
        height: 250px;
        background-color: #F6F6F6; }
        #specialServer .stepBox .stepChild .stepContent img {
          display: block;
          margin: 0 auto; }
        #specialServer .stepBox .stepChild .stepContent .iBox1 {
          padding-top: 79px; }
        #specialServer .stepBox .stepChild .stepContent .iBox2 {
          padding-top: 83px; }
        #specialServer .stepBox .stepChild .stepContent .iBox3 {
          padding-top: 70px; }
        #specialServer .stepBox .stepChild .stepContent .iBox4 {
          padding-top: 73px; }
        #specialServer .stepBox .stepChild .stepContent .iBox5 {
          padding-top: 75px; }
        #specialServer .stepBox .stepChild .stepContent .iBox6 {
          padding-top: 73px; }
        #specialServer .stepBox .stepChild .stepContent p {
          font-size: 16px;
          color: #666666;
          text-align: center;
          line-height: 70px; }
        #specialServer .stepBox .stepChild .stepContent span {
          display: block;
          width: 100%;
          text-align: center;
          color: #a51e32;
          font-size: 16px; }
    #specialServer .stepBox .stepActive {
      box-shadow: 0 0 4px 4px rgba(231, 231, 231, 0.2); }
      #specialServer .stepBox .stepActive .stepContent {
        background-color: white; }
      #specialServer .stepBox .stepActive .stepImg img {
        width: 105%; }
    #specialServer .stepBox .stepChild:nth-child(2n+1) {
      margin-right: 4px; }

#tenServer {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 150px; }
  #tenServer .tenVideoOut {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: white; }
  #tenServer .tenVideo {
    width: 1200px;
    height: 500px;
    background-color: white;
    margin-top: -80px;
    box-shadow: 0px 10px 4px 0px rgba(231, 231, 231, 0.5); }
    #tenServer .tenVideo .videoBox {
      width: 600px;
      height: 400px;
      margin: 50px 0px 0px 50px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      cursor: -ms-pointer; }
      #tenServer .tenVideo .videoBox video {
        width: 100%;
        height: 100%;
        border: 0; }
      #tenServer .tenVideo .videoBox .vImg, #tenServer .tenVideo .videoBox .playVideo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0;
        z-index: 1;
        overflow: hidden;
        -moz-transition: top 0.5s;
        -webkit-transition: top 0.5s;
        -ms-transition: top 0.5s;
        transition: top 0.5s; }
      #tenServer .tenVideo .videoBox .vImg img {
        width: 100%; }
      #tenServer .tenVideo .videoBox .playVideo {
        background-color: rgba(0, 0, 0, 0.5);
        top: 100%; }
        #tenServer .tenVideo .videoBox .playVideo img {
          margin-left: 268px;
          margin-top: 168px; }
    #tenServer .tenVideo .videoBox:hover .playVideo {
      top: 0%; }
    #tenServer .tenVideo .videoContent {
      width: 410px;
      margin: 50px 70px 0; }
      #tenServer .tenVideo .videoContent .jobNameM {
        margin-top: 70px; }
        #tenServer .tenVideo .videoContent .jobNameM span {
          color: #a51e32; }
      #tenServer .tenVideo .videoContent .rLine {
        margin-bottom: 20px; }
  #tenServer .tenServers {
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 80px; }
    #tenServer .tenServers .tenServerOut {
      width: 598px;
      height: 250px;
      margin-right: 4px;
      margin-bottom: 4px; }
      #tenServer .tenServers .tenServerOut .tsImg {
        width: 260px;
        height: 250px;
        background: url(../img/icon.png) no-repeat;
        background-position-y: 0px;
        background-color: #EEEEEE;
        transition: background-position 0.5s;
        -webkit-transition: background-position 0.5s;
        -ms-transition: background-position 0.5s;
        -moz-transition: background-position 0.5s; }
      #tenServer .tenServers .tenServerOut .tsTitle {
        width: 336px;
        height: 250px;
        border: 1px solid #eeeeee; }
        #tenServer .tenServers .tenServerOut .tsTitle ul {
          margin-left: 105px; }
          #tenServer .tenServers .tenServerOut .tsTitle ul .jobNameM {
            margin-top: 90px;
            font-weight: bold; }
    #tenServer .tenServers .tenServerOut:hover {
      box-shadow: 0 0 2px 2px #EAEAEA; }
      #tenServer .tenServers .tenServerOut:hover .tsTitle {
        border: 0; }
    #tenServer .tenServers .ti1 .tsImg {
      background-position-y: 0px; }
    #tenServer .tenServers .ti1:hover .tsImg {
      background-position-y: -250px; }
    #tenServer .tenServers .ti2 .tsImg {
      background-position-y: -500px; }
    #tenServer .tenServers .ti2:hover .tsImg {
      background-position-y: -750px; }
    #tenServer .tenServers .ti3 .tsImg {
      background-position-y: -1000px; }
    #tenServer .tenServers .ti3:hover .tsImg {
      background-position-y: -1250px; }
    #tenServer .tenServers .ti4 .tsImg {
      background-position-y: -1500px; }
    #tenServer .tenServers .ti4:hover .tsImg {
      background-position-y: -1750px; }
    #tenServer .tenServers .ti5 .tsImg {
      background-position-y: -2000px; }
    #tenServer .tenServers .ti5:hover .tsImg {
      background-position-y: -2250px; }
    #tenServer .tenServers .ti6 .tsImg {
      background-position-y: -2500px; }
    #tenServer .tenServers .ti6:hover .tsImg {
      background-position-y: -2750px; }
    #tenServer .tenServers .ti7 .tsImg {
      background-position-y: -3000px; }
    #tenServer .tenServers .ti7:hover .tsImg {
      background-position-y: -3250px; }
    #tenServer .tenServers .ti8 .tsImg {
      background-position-y: -3500px; }
    #tenServer .tenServers .ti8:hover .tsImg {
      background-position-y: -3750px; }
    #tenServer .tenServers .ti9 .tsImg {
      background-position-y: -4000px; }
    #tenServer .tenServers .ti9:hover .tsImg {
      background-position-y: -4250px; }
    #tenServer .tenServers .ti10 .tsImg {
      background-position-y: -4500px; }
    #tenServer .tenServers .ti10:hover .tsImg {
      background-position-y: -4750px; }
    #tenServer .tenServers .tenServerOut:nth-child(2n) {
      margin-right: 0px; }

.video-js .vjs-big-play-button {
  display: none !important; }

.vjs-poster {
  left: auto; }

.video-js.vjs-fullscreen {
  width: 100% !important;
  height: 90% !important;
  padding-top: 0 !important; }

.proviceBox {
  position: absolute;
  top: 65px;
  left: 0;
  width: 540px;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(51, 51, 51, 0.2);
  z-index: 10; }
  .proviceBox .list {
    text-indent: 0px;
    line-height: 28px; }
    .proviceBox .list .lLeft {
      width: 40px;
      text-align: center;
      font-size: 14px; }
    .proviceBox .list .lRight {
      width: 500px; }
      .proviceBox .list .lRight .floatl {
        min-width: 100px;
        font-size: 12px;
        text-align: center;
        color: #333333;
        margin: 0; }
        .proviceBox .list .lRight .floatl a {
          display: block;
          width: 100%;
          height: 100%;
          color: #333333; }
        .proviceBox .list .lRight .floatl a:hover {
          color: #a51e32; }
  .proviceBox > p {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #a51e32;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    text-indent: 0px;
    margin-bottom: 10px;
    color: #a51e32; }

/*# sourceMappingURL=server.css.map */
